/* CSS for Tribute Project */
.row.bottom {
    padding-top: 100px;
}

/* .row {
    margin-left: 25px;
    margin-right: 25px;
} */
.connect,
.info {
    text-align: center;
}
button.btn.btn-secondary.btn-lg.wp,
button.btn.btn-secondary.btn-lg.az,
button.btn.btn-secondary.btn-lg.fb {
    background: lightblue;
    color:black;
    font-family: "Bubblegum Sans", cursive;
    margin: 10px;
}

ul {
    list-style: none;
}

div#image {
    text-align: center;
}

div#img-caption {
    font-family: monospace;
    padding-top: 10px;
}

div#image {
 
    padding-top: 30px;
    max-width: 100%;
    margin: auto;
    border-top-color: red;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: blue;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: green;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: orange;
    border-left-style: solid;
    border-left-width: 3px;
    
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.rainbow {
    letter-spacing: -7px;
}

.intro {
    font-family: "Bubblegum Sans", cursive;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 5px;
    text-align: left;
}

.including {
    margin-top: 30px;
    margin-bottom: 5px;
}
.books {
    font-family: "Bubblegum Sans", cursive;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 30px;
    list-style-type: none;
     }

h1 {
    text-align: center;
    font-family: "Bubblegum Sans", cursive;
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 40px;
}

 h2 {
    text-align: center;
    font-family: "Bubblegum Sans", cursive;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 30px;
   
 p {
     padding-left: 40px;
     padding-right: 40px;
     margin-left: 40px;
     margin-right: 40px;
     }